*{margin: 0;padding: 0}

/**font-family: 'Source Sans Pro', sans-serif;
**/

body{font-family:"Source Sans Pro";}

.header_area{
	background-attachment: fixed;
	background-image:url("../images/header.jpg");
	background-position: center center;
	background-size: cover;
	min-height: 760px;
	width:100%;
  height: 700px;
	position:relative;
}

.header_area:after{
	position:absolute;
	top: 0;
	left: 0;
	content:"";
	background:rgba(27,27,30,0.5);
	width: 100%;
	height:100%;
  overflow: hidden;
}

.column{width: 1170px;margin:0 auto;transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s}



.menu_area {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #F3F3F3;
    box-shadow: 0 1px 20px #A8A8A8;
}
.logo{
	width: 30%;
	float: left;
	margin: 10px 0;
}

.main_menu{
	float: left;
	width: 70%;
}
.main_menu ul{margin:0 140px;padding: 0;list-style:none;text-align: right}
.main_menu ul li{display: inline;}
.main_menu ul li a {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  color:#282828;
  text-decoration: none;
  margin: 15px 10px;
}
.main_menu ul li a:hover{color:#273B6D;}

.header_content {
  position: relative;
  z-index: 999;
  color: #FFFFFF;
  text-align: center;
  padding-top: 12%;
}

h1{
	font-size: 48px;
	font-weight: 700;
}
.header_content > h2{
	font-size: 36px;
	font-weight: normal;
	padding:45px 0 116px;
}


.header_content > a {
  background: #209665 none repeat scroll 0 0;
  border: 1px solid #209665;
  color: #ffffff;
  font-size: 18px;
  padding: 20px 80px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition:1.5s;
  -moz-transition:1.5s;
  -ms-transition:1.5s;
  -o-transition:1.5s;
   transition:1.5s;
}

.header_content > a:hover{
	background: #116442;
	color:#E6E6E6;
	border: 1px solid #116442;
}
.plus_bar li {
  padding: 7px;
}

.online_business_area{
	width:100%;
	overflow: hidden;
    width: 100%;
}
.business_area {
  text-align: center;
}

.business_area > h1 {
  color: #273b6d;
  margin:115px 0 0 -20px;
}

.single_row{
	width: 385px;
	float:left;
}
.business_row {
  float: left;
  margin: 108px 0;
}

.business_row > a > img {
  border: 5px solid #cccccc;
  border-radius: 80px;
  height: 142px;
  width: 150px;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
   transition:1s;
}
.business_row > a > img:hover {
  box-shadow: 0 0 1px 30px #cccccc;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	 transform:scale(1.1);
}


.single_row.business_row > h2 {
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  padding: 52px 0 22px 0;
}

.single_row.business_row > p {
  color: #444444;
  font-family:"Source Sans Pro";
  font-size: 16px;
  font-weight: normal;
}



.sell_area {
  text-align: center;
  font-family:"Source Sans Pro";
  overflow: hidden;
}



.sell_area_headline > h1 {
  color: #273b6d;
  position: relative;
}

.sell_area_headline > h1:after{
	border-bottom: 2px solid #273b6d;
    content: "";
    height: 100%;
    left: 0;
    margin: 6% 0 0 44%;
    position: absolute;
    top: 0;
    width: 12%;
}

.sell_area_headline > h2 {
  color: #273b6d;
  font-size: 30px;
  margin: 126px 0 50px;
}





.sell_row{text-align: center}



.single_item > p {
  color: #4b4b4b;
  font-size: 18px;
  padding: 35px 0;
}



.permalink_border{
	position:relative;
}

.permalink_border:after{
	position:absolute;
	top:0;
	left:0;
	content:"";
	width: 100%;
	height: 100%;
	border-bottom:1px solid #273B6D;

}



.praicing_area {
  overflow: hidden;
}

.pricing_headline {
  text-align: center;
  margin-top: 130px;
}

.pricing_headline > h2 {
  color: #273b6d;
  font-size: 30px;
  margin: 60px 0;
}

.table_area{
  border: 1px solid #0889CB;
  height: 460px;
  margin: 10px auto 50px;
  text-align: center;
  width: 338px;
  overflow:hidden;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
   transition:1s;
}



.table_area > ul > li {
  list-style: outside none none;
}

.table_area > ul > li > h2 {
  font-size: 24px;
  padding:26px 0;
}

.table_area > ul > li > h2 >span {
  font-size: 60px;
}

.border_bottom {
  border-bottom: 1px solid #405486;
}


.table_area > ul > li > p {
  color: #4b4b4b;
  font-size: 16px;
  padding-top:20px;
  position:relative
}

.table_area > ul > li > p:after {
  border-bottom: 1.5px solid #273b6d;
  content: "";
  height: 112%;
  left: 54px;
  position: absolute;
  top: 6px;
  width: 68%;
}


.paid_bar > h3 {
  color: #273b6d;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 0;
} 
.table_area a {
  background: #cccccc none repeat scroll 0 0;
  border: 1px solid #cccccc;
  padding: 20px 58px;
  text-decoration: none;
  color: #FFFFFF;
  overflow:hidden
}

/* Basic_Pricing_Section */
.basic_pricing:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.basic_pricing {
  border: 1px solid #209665;
}
.basic > h2 {
  color: #2F9D6F;
}

.basic {
  border-bottom: 1px solid #209665;
}

.basic_pricing > ul > li > p:after{
	border-bottom: 1.5px solid #209665;
  	content: "";
  	height: 112%;
  	left: 54px;
  	position: absolute;
  	top: 76px;
  	width: 68%;
}

.basic_pricing h3 {
  margin-top: 83px;
  color: #2f9d6f;
}


.single_row:hover .basic_hover{
	background: #2F9D6F;
  	color:#FFFFFF;
}
/* Basic_Pricing_Section_End */

/* Plus_Pricing_Section */

.plus_pricing{
	
}

.plus_pricing:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
}


.plus_pricing {
  border: 1px solid #0889CB;
}
.plus > h2 {
  color: #0889CB;
}

.plus {
  border-bottom: 1px solid #0889CB;
}

.plus_pricing > ul > li > p:after{
	border-bottom: 1.5px solid #0889CB;
  	content: "";
  	height: 112%;
  	left: 54px;
  	position: absolute;
  	width: 68%;
}

.plus_pricing h3 {
  color: #0889CB;
  margin-top: 21px;
}


.single_row:hover .plus_hover{
	background:#0889CB;
  	color:#FFFFFF;
}





/* End_Plus_Pricing_Section */

/* Primimum_Pricing_section */
.primium_pricing{
	border:1px solid #273B6D;
}

.primium_pricing:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}



.primium_hover > h2{
	color:#273B6D;
}


.single_row .primium_hover{
	background: #273B6D;
  	color:#FFFFFF;
}


/* End_Primium_bar_section */



/* Pricing_bar_area */

.pricing_bar_area{
	overflow: hidden;
}

.pricing_bar_row{
	width:385px;
	float:left;
	height: auto;
	margin-bottom: 80px;
}

/* Basic_Pricing_Bar */
.basic_bar {
  margin: 0 44px;
}

.basic_bar > ul {
  margin: 0;
  padding: 0;
  list-style-image: url("../images/basic_list.png")
}

.basic_bar > ul > li > a {
  color: #273b6d;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}

.basic_bar > ul > li:hover{list-style-image: url("../images/list_hover.png")}


/* End_Basic_Pricing_Bar */

/* Plus_Pricing_Bar */
.plus_bar {
  margin: 0 30px;
}

.plus_bar > ul {
  margin: 0;
  padding: 0;
  list-style-image: url("../images/plus_list.png")
}

.plus_bar > ul > li > a {
  color: #273b6d;
  display: inline-block;
  font-size: 18px;
  margin-top: -5px;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

.plus_bar > ul > li:hover{list-style-image: url("../images/list_hover.png")}
/* End_Plus_Pricing_Bar */


/*Primium_Pricing_Bar */
.primium_bar {
  margin: 0 45px;
}

.primium_bar > ul {
  margin: 0;
  padding: 0;
  list-style-image: url("../images/primium_list.png")
}

.primium_bar > ul > li > a {
  color: #273b6d;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

.primium_bar > ul > li:hover{list-style-image: url("../images/list_hover.png");}
/* End_Plus_Pricing_Bar */


/* _End_Pricing_bar_area */



.services_area{
	background: #F4F4F4;
	overflow: hidden;
	}

.services{width:100%;}
.service_headline{
	width: 60%;
	float:left;
	margin: 40px 0;
	}

.service_headline > h2 {
  color: #273b6d;
  font-weight: 500;
  font-size: 28px;
}

.service_headline > h2 > span {
  font-weight: 800;
}

.service_button{
	width: 40%;
	float:right;
	margin: 70px -52px;
	}
.service_button > a {
  background: #209665 none repeat scroll 0 0;
  border: 1px solid #209665;
  font-family:"Source Sans Pro";
  font-weight: 700;
  color: #ffffff;
  padding: 25px 90px;
  text-decoration: none;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
   transition:1s;
}

.service_button > a:hover{
	background: #1A7C53
}




.carousel_area{
	background:#273B6D;
	height: 445px;
}
#slider .item{
    display: block;
    width: 100%;
    height: 445px;
    background:#F4F4F4
}



.one_slide_carousel{
	display:block;
	width:100%;
	height:auto;
}
.one_slide_carousel .single_slide {
  text-align: center;
}

.single_slide > h2 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 800;
  margin:56px 0;
}

.single_slide > p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

.single_slide > h3 {
  font-size: 24px;
  color: #FFFFFF;
  margin: 45px 0;
}




.contact_content{text-align: center;}

.contact_content > h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 88px;
  color: #273B6D;
}


.contact_content > p {
  font-size: 20px;
  color: #777777;
  padding: 30px 0;
}


.form_area {
  text-align: center;
  margin: 10px 0 60px 0;
}
.form_area > li {
  margin: 0 0 20px 0;
  list-style: none;
}

.form_area > li > input {
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    height: 66px;
    margin: 0 15px 0 12px;
    padding: 0 0 0 25px;
    width: 452px;
  	font-family:"Source Sans Pro";
  	font-size: 16px;
    font-weight: 600;
    color:#8c8b8b;
}


.form_area > li > textarea {
  border: 1px solid #a6a6a6;
    border-radius: 2px;
    height: 220px;
    padding: 20px 0 0 25px;
    width: 960px;
    font-family:"Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    color:#8c8b8b
}


.form_area a {
  text-decoration: none;
}

input[type="submit"] {
  padding: 25px 70px;
  background: #209665;
  color: #FFFFFF;
  border: 1px solid #209665;
  font-weight:700;
  font-family:"Source Sans Pro";
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
   transition:1s;
}

input[type="submit"]:hover{
	background:#1a7c53
}

.footer_area{
	background: #272727;
	overflow: hidden;
}

.social_bookmarks > ul {
  margin: 0;
  padding: 58px 0 0;
  text-align: center;
}

.social_bookmarks li {
  display: inline-block;
  border-right: 2px solid #ffffff;
  padding: 15px 0;
}
.social_bookmarks li:last-child{
	border:none;
}
.social_bookmarks ul > li > a > img {
  padding: 0 15px;
}

.social_bookmarks > img {
  padding-left: 42%;
  padding-top: 1%;
}


.location_row {
  float: left;
  margin: 65px 15px;
  text-align: center;
  width: 250px;
  color: #FFFFFF;
}

.location_row > h2 {
  padding: 6px 0;
}

.location_row > p {
  color: #686868;
}

.email {
  padding: 8px 0;
}

.location_row.email > img {
  padding-bottom: 10px;
}

.email > a {
  color: #686868;
  text-decoration: none;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
   transition:1s;
}
.email > a:hover{
	color:#FFFFFF;
}




